/*imports*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");


/*reset*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


/*gerais*/
body {
    background-color: #fff;
}

.center {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
/*custon size*/
.w-90 {
    width: 90% !important;
}
.w-95 {
    width: 95% !important;
}
.w-80 {
    width: 80% !important;
}
.w-10 {
    width: 5% !important;
}
.h-90 {
    height: 90% !important;
}
.h-80 {
    height: 80% !important;
}


/*navbar*/
header{
    height: auto;
    background-color: none;
}

.menu-cad {
    color: #ff0000 !important;
    font-size: 16.5px;
    letter-spacing: 1px;
}
.logo {
    padding: 0;
}
.menu-cad:hover {
    background-color: rgba(0, 0, 0, 0.029);
    font-size: 16.7px;
}

.menu-cad::after {
    color: black !important;
}

.menu-options::after {
    content: none !important;
}

/*banner*/
.banner {
    min-height: auto;
    background-color: #AF1313;
}
.banner_content_main {
    padding: 0;
}

/*featured products*/
.prod {
    height: 190px;
}
@media (min-width: 349px) and (max-width: 399px) {
    .prod {
        height: 225px;
    }
}
@media (min-width: 400px) and (max-width: 443px) {
    .prod {
        height: 290px;
    }
}
@media (min-width: 444px) and (max-width: 575px) {
    .prod {
        height: 300px;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .prod {
        height: 298px;
    }
}
@media (min-width: 768px) and (max-width: 1199px) {
    .prod {
        height: 298px;
    }
}
@media (min-width: 1200px) {
    .prod {
        height: 340px;
    }
}
@media (min-width: 2300px) {
    .prod {
        height: 370px;
    }
}

/*about the company*/
.about-area {
    background-color: #fff8dc;
}

.about-title {
    color: #343a40;
    margin: 0 0 60px 0;
    font-size: 40px;
    text-align: center;
}
.about-title::after {
    content: "";
    border-top: 2px solid #000000;
    width: 15%;
    position: absolute;
    top: 60px;
    left: 42.5%;
}
@media (min-width: 240px) and (max-width: 267px) {
    .about-title::after {
        content: "";
        border-top: 2px solid #000000;
        width: 38%;
        position: absolute;
        top: 155px;
        left: 29%;
    }    
}
@media (min-width: 268px) and (max-width: 299px) {
    .about-title::after {
        content: "";
        border-top: 2px solid #000000;
        width: 38%;
        position: absolute;
        top: 115px;
        left: 29%;
    }
}
@media (min-width: 300px) and (max-width: 399px) {
    .about-title::after {
        content: "";
        border-top: 2px solid #000000;
        width: 38%;
        position: absolute;
        top: 115px;
        left: 29%;
    }
}
@media (min-width: 400px) and (max-width: 503px) {
    .about-title::after {
        content: "";
        border-top: 2px solid #000000;
        width: 25%;
        position: absolute;
        top: 110px;
        left: 36%;
    }
}
@media (min-width: 504px) and (max-width: 991px) {
    .about-title::after {
        width: 28%;
        left: 36%;
    }
}


.about-subtitle {
    font-size: 17px;
    color: #343a40;
    text-transform: uppercase;
    font-weight: bold;
}

.list-about {
    list-style: none;
    padding-left: 0;
}
.list-about li {
    line-height: 30px;
}
.list-about i {
    color: #65DAF9;
    margin-right: 15px;
}

/*modal account*/
.input-user {
    padding: 0.25rem 0.5rem 0.25rem 2.7rem !important;
}

label {
    position: absolute;
    top: 4px;
    left: 28px;
    font-size: 23px !important;
}

.btn-log {
    font-size: 17px !important;
    border: 1px solid #9b9a9b;
}

#createAcc {
    display: none;
}

#title-createAcc {
    display: none;
}