/*imports*/
/*icons*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
/*fonts*/

/*-----------------------*/

/*reset*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/*-----------------------*/

/*gerais*/
body {
    background-color: #fff;
}

.center {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
/*-----------------------*/

/*custon size*/
/*width custon*/
.w-95 {
    width: 95% !important;
}
.w-90 {
    width: 90% !important;
}
.w-80 {
    width: 80% !important;
}
.w-30 {
    width: 30% !important;
}
.w-20 {
    width: 20% !important;
}
.w-10 {
    width: 10% !important;
}
/*-----------------------*/

/*height custon*/
.h-95 {
    height: 95% !important;
}
.h-90 {
    height: 90% !important;
}
.h-80 {
    height: 80% !important;
}
.h-30 {
    height: 30% !important;
}
.h-20 {
    height: 20% !important;
}
.h-10 {
    height: 10% !important;
}
/*-----------------------*/

/*navbar*/
header{
    height: auto;
    background-color: none;
}

.menu-cad {
    color: #ff0000 !important;
    font-size: 16.5px;
    letter-spacing: 1px;
}
.logo {
    padding: 0;
}
.menu-cad:hover {
    background-color: rgba(0, 0, 0, 0.029);
    font-size: 16.7px;
}

.menu-cad::after {
    color: black !important;
}

.menu-options::after {
    content: none !important;
}
/*-----------------------*/

/*banner*/
.banner {
    min-height: auto;
    background-color: #AF1313;
}
.banner_content_main {
    padding: 0;
}
/*-----------------------*/

/*featured products*/
.featured_products_title {
    color: #000000;
    margin: 0 0 60px 0;
    font-size: 40px;
    text-align: center;
}
.featured_products_title::after {
    content: "";
    border-top: 2px solid #000000;
    width: 25%;
    position: absolute;
    top: 60px;
    left: 36.5%;
}
.prod {
    height: 190px;
    border-radius: 1em;
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #e6e5e5;
}
.prod:hover {
        /*animation*/
        animation: pulse;
        animation-duration: 1.5s;
}
/*-----------------------*/

 /*animation for PC and tablet*/
@media (min-width: 768px) {
    .featured_products_title {
        animation: flash;
    animation-duration: 1.3s;
    }
    #row_products_animate1 {
        animation: bounceInRight;
        animation-duration: 2s;
    }
}
@media (min-width: 240px) and (max-width: 267px) {
    .featured_products_title::after {
        content: "";
        border-top: 2px solid #000000;
        width: 38%;
        position: absolute;
        top: 255px;
        left: 29%;
    }    
}
@media (min-width: 268px) and (max-width: 291px) {
    .featured_products_title::after {
        content: "";
        border-top: 2px solid #000000;
        width: 38%;
        position: absolute;
        top: 243px;
        left: 30%;
    }
}
@media (min-width: 292px) and (max-width: 299px) {
    .featured_products_title::after {
        content: "";
        border-top: 2px solid #000000;
        width: 38%;
        position: absolute;
        top: 220px;
        left: 30%;
    }
}
@media (min-width: 300px) and (max-width: 315px) {
    .featured_products_title::after {
        content: "";
        border-top: 2px solid #000000;
        width: 38%;
        position: absolute;
        top: 215px;
        left: 30%;
    }
}
@media (min-width: 316px) and (max-width: 348px) {
    .featured_products_title::after {
        content: "";
        border-top: 2px solid #000000;
        width: 38%;
        position: absolute;
        top: 170px;
        left: 30%;
    }
}
@media (min-width: 349px) and (max-width: 399px) {
    .featured_products_title::after {
        content: "";
        border-top: 2px solid #000000;
        width: 38%;
        position: absolute;
        top: 175px;
        left: 30%;
    }
    .prod {
        height: 225px;
    }
}
@media (min-width: 400px) and (max-width: 443px) {
    .featured_products_title::after {
        content: "";
        border-top: 2px solid #000000;
        width: 38%;
        position: absolute;
        top: 173px;
        left: 30%;
    }
    .prod {
        height: 290px;
    }
}
@media (min-width: 444px) and (max-width: 557px) {
    .featured_products_title::after {
        content: "";
        border-top: 2px solid #000000;
        width: 38%;
        position: absolute;
        top: 170px;
        left: 30%;
    }
    .prod {
        height: 300px;
    }
}
@media (min-width: 458px) and (max-width: 575px) {
    .featured_products_title::after {
        content: "";
        border-top: 2px solid #000000;
        width: 38%;
        position: absolute;
        top: 130px;
        left: 30%;
    }
    .prod {
        height: 300px;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .featured_products_title::after {
        content: "";
        border-top: 2px solid #000000;
        width: 38%;
        position: absolute;
        top: 120px;
        left: 30%;
    }
    .prod {
        height: 298px;
    }
}
@media (min-width: 768px) and (max-width: 813px) {
    .featured_products_title::after {
        content: "";
        border-top: 2px solid #000000;
        width: 38%;
        position: absolute;
        top: 115px;
        left: 30%;
    }
    .prod {
        height: 298px;
    }
}
@media (min-width: 814px) and (max-width: 1199px) {
    .featured_products_title::after {
        content: "";
        border-top: 2px solid #000000;
        width: 38%;
        position: absolute;
        top: 85px;
        left: 30%;
    }
    .prod {
        height: 298px;
    }
}
@media (min-width: 1200px) {
    .prod {
        height: 340px;
    }
}
@media (min-width: 2300px) {
    .prod {
        height: 370px;
    }
}
/*-----------------------*/

/*about the company*/
.about-area {
    background-color: #e0a954;
}

.about-title {
    color: #000000;
    margin: 0 0 60px 0;
    font-size: 40px;
    text-align: center;
}
.about-title::after {
    content: "";
    border-top: 2px solid #000000;
    width: 25%;
    position: absolute;
    top: 60px;
    left: 36.5%;
}
@media (min-width: 240px) and (max-width: 267px) {
    .about-title::after {
        content: "";
        border-top: 2px solid #000000;
        width: 38%;
        position: absolute;
        top: 155px;
        left: 29%;
    }    
}
@media (min-width: 268px) and (max-width: 299px) {
    .about-title::after {
        content: "";
        border-top: 2px solid #000000;
        width: 38%;
        position: absolute;
        top: 115px;
        left: 29%;
    }
}
@media (min-width: 300px) and (max-width: 399px) {
    .about-title::after {
        content: "";
        border-top: 2px solid #000000;
        width: 38%;
        position: absolute;
        top: 115px;
        left: 29%;
    }
}
@media (min-width: 400px) and (max-width: 503px) {
    .about-title::after {
        content: "";
        border-top: 2px solid #000000;
        width: 25%;
        position: absolute;
        top: 110px;
        left: 36%;
    }
}
@media (min-width: 504px) and (max-width: 991px) {
    .about-title::after {
        width: 28%;
        left: 36%;
    }
}
.about-subtitle {
    font-size: 17px;
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
}

.list-about {
    list-style: none;
    padding-left: 0;
}
.list-about li {
    line-height: 30px;
}
.list-about i {
    color: #65DAF9 !important;
    margin-right: 15px;
}
.about-text {
    color: #000000;
}
/*-----------------------*/

/*sale ad area*/
#btn_wpp {
    border-radius: 1.3em;
}
#btn_wpp:focus {
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.4);
}
.ad_title {
    color: #343a40;
    margin: 0 0 60px 0;
    font-size: 40px;
    text-align: center;
}
.ad_title::after {
    content: "";
    border-top: 2px solid #000000;
    width: 17%;
    position: absolute;
    top: 60px;
    left: 41.5%;
}
@media (min-width: 240px) and (max-width: 267px) {
    .ad_title::after {
        content: "";
        border-top: 2px solid #000000;
        width: 38%;
        position: absolute;
        top: 110px;
        left: 29%;
    }
}
@media (min-width: 268px) and (max-width: 299px) {
    .ad_title::after {
        content: "";
        border-top: 2px solid #000000;
        width: 38%;
        position: absolute;
        top: 105px;
        left: 29%;
    }
}
@media (min-width: 300px) and (max-width: 339px) {
    .ad_title::after {
        content: "";
        border-top: 2px solid #000000;
        width: 40%;
        position: absolute;
        top: 100px;
        left: 28%;
    }
}
@media (min-width: 340px) and (max-width: 399px) {
    .ad_title::after {
        content: "";
        border-top: 2px solid #000000;
        width: 40%;
        position: absolute;
        top: 70px;
        left: 28%;
    }
}
@media (min-width: 400px) and (max-width: 503px) {
    .ad_title::after {
        content: "";
        border-top: 2px solid #000000;
        width: 35%;
        position: absolute;
        top: 58px;
        left: 33%;
    }
}
@media (min-width: 504px) and (max-width: 991px) {
    .ad_title::after {
        width: 33%;
        left: 34%;
    }
}
/*-----------------------*/

/*contact area*/
#contact_wpp {
    text-decoration: none;
    color: #0068ff;
}
#contact_wpp:hover {
    color: #003fbd;
}
.contact-area {
    background-color: #fff;
}
.contact-title {
    color: #343a40;
    margin: 0 0 60px 0;
    font-size: 40px;
    text-align: center;
}
.contact-title::after {
    content: "";
    border-top: 2px solid #000000;
    width: 15%;
    position: absolute;
    top: 60px;
    left: 42.5%;
}
@media (min-width: 240px) and (max-width: 267px) {
    .contact-title::after {
        content: "";
        border-top: 2px solid #000000;
        width: 38%;
        position: absolute;
        top: 155px;
        left: 29%;
    }    
}
@media (min-width: 268px) and (max-width: 299px) {
    .contact-title::after {
        content: "";
        border-top: 2px solid #000000;
        width: 38%;
        position: absolute;
        top: 75px;
        left: 29%;
    }
}
@media (min-width: 300px) and (max-width: 399px) {
    .contact-title::after {
        content: "";
        border-top: 2px solid #000000;
        width: 40%;
        position: absolute;
        top: 60px;
        left: 28%;
    }
}
@media (min-width: 400px) and (max-width: 503px) {
    .contact-title::after {
        content: "";
        border-top: 2px solid #000000;
        width: 28%;
        position: absolute;
        top: 58px;
        left: 34.5%;
    }
}
@media (min-width: 504px) and (max-width: 991px) {
    .contact-title::after {
        width: 28%;
        left: 36%;
    }
}
.input-msgm {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #80bdff;
    box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.20);
}
.input-msgm:focus {
    background-color: #fff;
    border-color: #007bff;
    box-shadow: 0 0 0 0.11rem rgba(0, 123, 255, 0.29);
}
.title-address, .title-numer, .title-whatsapp {
    font-weight: bold;
    margin-bottom: -0.9%;
}
/*-----------------------*/

/*footer*/
footer {
    background-color: #000000;
}
.social_networks {
    text-align: center;
}
.social_networks a {
    font-size: 18px;
    margin-top: 1%;
}
.social_networks a i {
    font-size: 22px;
    padding: 5px;
}
#instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}
/*-----------------------*/

/*modal account*/
.modal-content {
    background-color: #00000010 !important;
    border: 1px solid #ffffff50;
    backdrop-filter: blur(3px);
    border-radius: 1em;
}
.input-user {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #003773;
        box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.20);
    padding: 0.25rem 0.5rem 0.25rem 2.7rem !important;
}
.input-user:focus {
    background-color: #fff;
    border-color: #007bff;
    box-shadow: 0 0 0 0.11rem rgba(0, 123, 255, 0.29);
}
label {
    position: absolute;
    top: 4px;
    left: 28px;
    font-size: 23px !important;
}

.btn-log {
    font-size: 17px !important;
    letter-spacing: 1px;
    font-weight: 300;
    color: #ffffff;
}

#createAcc {
    display: none;
}
#btncreateAcc {
    font-size: 17px !important;
    color: #ffffff;
    font-weight: 300;
}
#title-createAcc {
    display: none;
}
#toRegister {
    font-size: large;
    color: #000000;
}
/*-----------------------*/