@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/*reset*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*gerais*/
body {
    background-color: #dfdce3;
}

.center {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
/*custon sizes*/
.w-90 {
    width: 90% !important;
}
.w-95 {
    width: 95% !important;
}
.w-80 {
    width: 80% !important;
}
.h-90 {
    height: 90% !important;
}
.h-80 {
    height: 80% !important;
}


/*navbar*/

.search input {
    border-radius: 1.07rem 0 0 1.07rem !important;
}
.search button {
    border-top-left-radius: none !important;
    border-bottom-left-radius: none !important;
}

.cart, .userName {
    color: #ff0000 !important;
    font-size: 16.5px;
    letter-spacing: 1px;
}
.cart i {
    color: #000000;
}
.cart:hover {
    background-color: rgba(0, 0, 0, 0.030);
}

/*pagination*/
.page-link {
    color: #ff0000 !important;
}
.page-item.activated .page-link {
    z-index: 1 !important;
    color: #fff !important;
    background-color: #ff0000 !important;
    border-color: #ff0000 !important;
  }
.page-link:focus {
    z-index: 1 !important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25) !important;
}


/*products cards*/
.product-name {
    margin-top: 1%;
    margin-bottom: 2%;
    text-align: center;
    font-size: large;
    font-weight: 700;
}
.price {
    margin-top: 2%;
    margin-bottom: 1%;
    font-size: large;
    font-weight: 700;
}
.price span {
    font-size: larger;
    color: #11c827;
}

#btn-add {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}